@model IEnumerable<turniri.Model.LeagueLevel>

@{
    var league = (turniri.Model.League)ViewBag.League;
    ViewBag.Title = "Уровни лиги " + league.Name;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@Html.ActionLink("← К лигам", "Index", "League", null, new { @class = "btn btn-mini" })
<h2>Уровни лиги @league.Name</h2>
@Html.ActionLink("Создать", "CreateLevel", "League", new { id = league.ID }, new { @class = "btn" })
<table class="table">
	<thead>
		<tr>
			<th>
				Наименование
			</th>
            <th>
				Уровень
			</th>
			<th>
				Кол-во команд
			</th>
			<th>
			</th>
		</tr>
	</thead>
	@foreach(var item in Model) 
    {
	    <tr>
		    <td> 
			    @item.Name 
		    </td>
            <td> 
			    @item.Level
		    </td>
		    <td> 
			    @item.Quantity
		    </td>		
		    <td>
                @Html.ActionLink("Изменить", "EditLevel", "League", new { id = item.ID }, new { @class = "btn" })
                @Html.ActionLink("Удалить", "DeleteLevel", "League", new { id = item.ID }, new { @class = "btn btn-danger" })
		    </td>
	    </tr>
	}
</table>

