@model turniri.Model.User
@{
    var league = (turniri.Model.League)ViewBag.League;
    var lastSeason = league.LastSeason;
}
<td>
    @Model.ID
</td>
<td>
    @Model.Login
</td>
<td>
    @Html.Action("SelectListUserLeagueLevel", new { id = Model.ID, seasonId = lastSeason.ID })
</td>
@if (lastSeason.Status == (int)turniri.Model.LeagueSeason.StatusEnum.FinishedMainTour ||
                lastSeason.Status == (int)turniri.Model.LeagueSeason.StatusEnum.Finished)
{
    <td>
        @{
    var place = Model.PlaceOfSeason(lastSeason);
        }
        @if (place != null) 
        { 
        <span class="badge badge-@Model.ColorPlaceOfSeason(lastSeason)">
            @place
        </span>
        }
    </td>
}
else
{
    if (lastSeason.Status == (int)turniri.Model.LeagueSeason.StatusEnum.Created)
    {
        <td>
            @Html.Action("SelectListUserTournament", new { id = Model.ID, seasonId = lastSeason.ID, levelId = Model.LeagueLevel(lastSeason) })
        </td>
    }
    else
    {
        <td>
            @{
        var tournament = Model.TournamentOfSeason(lastSeason);
            }
            @if (tournament != null) 
            {
                @tournament.Name
            }
        </td>
    }
}
<td></td>