@model turniri.Models.ViewModels.AdminMoneyDetailView
@{
    var currentUser = ((turniri.Controllers.BaseController)ViewContext.Controller).CurrentUser;
    var action = (string)ViewBag.Action;
}
@Html.Hidden("Action", action)
@Html.Hidden("Percent", Model.PercentFee)
@Html.Hidden("MaxGold", currentUser.MoneyGold)
@Html.Hidden("MaxWood", currentUser.MoneyWood)
@Html.Hidden("MaxCrystal", currentUser.MoneyCrystal)
<div class="popup-window-big popup-window">
    <div class="top-bar">
        <h3>Перевод денег</h3>
        <div class="icon-close-popup9 sprite">
        </div>
        <div class="bar-arrow-down sprite">
        </div>
    </div>
    <div class="popup-wrapper money-popup-wrapper">
        @Model.Description
        @using (Html.BeginForm("MoneyPay", "Money", FormMethod.Post, new { id = "MoneyPayForm" }))
        {
            @Html.Hidden("UserID", Model.UserID)
            @Html.Hidden("GroupID", Model.GroupID)
            @Html.Hidden("Description", Model.Description)
            <div class="input-item clear">
                <div class="lable-name">
                    Тип
                </div>
                <div class="input">
                    @Html.DropDownList("Type", Model.SelectListMoneyType)

                </div>
            </div>
            <div class="input-item clear">
                <div class="lable-name">
                    Количество
                </div>
                <div class="input">
                    @Html.TextBox("Sum", Model.Sum)
                </div>
            </div>
            <div class="money-info">
                <div class="title">К оплате</div>
                <div class="value" id="PayValue"></div>
                <div class="sprite type-money" id="TypeMoney"></div>
            </div>
            <div class="not-enough-money">
                У вас недостаточно средств
            </div>
            <div class="comment-wrapper">
                <div class="massage-button clear">
                    <div class="gray-24-button-wrapper">
                        <input type="submit" class="blue-28-submit" value="ПОСЛАТЬ" id="SubmitBtn"></input>
                    </div>
                    <div class="gray-24-button-wrapper">
                        <span class="popup-close">ЗАКРЫТЬ</span>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
