@model turniri.Model.PageableData<turniri.Model.Blog>

@{
    ViewBag.Title = "Блоги";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section header
{
    <script type="text/javascript" src="/Media/scripts/admin/index-blog.js"></script>
}
<h2>Блоги</h2>

<table class="table">
    <thead>
        <tr>
            <th>Автор (группа)
            </th>
            <th>Заголовок
            </th>
            <th>Дата создания
            </th>
            <th>Дата модификации
            </th>
            <th>Забанен
            </th>
            <th>Кол-во просмотров
            </th>
            <th>
            Социалки
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model.List)
    {
        <tr>
            <td>
                @item.User.Login
                @if (item.GroupID != null)
                {
                    <span class="label">@item.Group.Name</span>
                }
            </td>
            <td>
                @item.Header
            </td>
            <td>
                @item.AddedDate.ToString("dd.MM.yyyy HH:mm")
            </td>
            <td>
                @item.LastModificateDate.ToString("dd.MM.yyyy HH:mm")
            </td>
            <td>
                @item.IsBanned
            </td>
            <td>
                @item.VisitCount
            </td>
            <td>
                @foreach (var social in item.SubSocialPosts)
                {
                    <span class="label label-info">@social.ProviderShortName</span>
                }
            </td>
            <td>
                <div class="btn-group pull-right">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Действия<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            @Html.ActionLink("Изменить", "Edit", "Blog", new { id = item.ID }, new { @class = "" })
                        </li>
                        <li>
                            @Html.ActionLink("Удалить", "Delete", "Blog", new { id = item.ID }, new { @class = "stop-action" })
                        </li>
                        <li>
                            <a href="#" class="social" data-id="@item.ID">В соц.сеть</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    }
</table>
<div class="pager">
    @Html.PageLinks(Model.PageNo, Model.CountPage, x => Url.Action(Model.Action, new { page = x }))
</div>
