@model turniri.Models.ViewModels.NoticeDistributionView
@{
    ViewBag.Title = Model.ID == 0 ? "Добавление уведомлений" : "Изменение уведомлений";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section header {
    <script type="text/javascript" src="/Media/scripts/admin/notice-distribution.js"></script>
}
<h2>@(Model.ID == 0 ? "Добавление уведомлений" : "Изменение уведомлений")</h2>
<p>
</p>
@using (Html.BeginForm("Edit", "NoticeDistribution", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.Hidden("ID", Model.ID)
    @Html.Hidden("UserID", Model.UserID)
    <fieldset>
        <div class="control-group">
            <label class="control-label">
                Заголовок</label>
            <div class="controls">
                @Html.TextBox("Caption", Model.Caption, new { @class = "input-xlarge" })
                @Html.ValidationMessage("Caption")
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">
                Текст
            </label>
            <div class="controls">
                @Html.ValidationMessage("Text")
                @Html.TextArea("Text", Model.Text, new { @class = "input-xlarge html-description" })
            </div>
        </div>
        <p class="text-info"><small>* Используйте %username% в теме и содержания письма для замены на логин пользователя</small></p>

         <div class="control-group">
            <label class="control-label" for="IsCloseForRead">
                Удалять после прочтения
            </label>
            <div class="controls">
                @Html.CheckBox("IsCloseForRead", Model.IsCloseForRead)
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">
                Сохранить</button>
            @Html.ActionLink("Отменить", "Index", null, null, new { @class = "btn" })
        </div>
    </fieldset>
}
