@model turniri.Models.ViewModels.BannerView
@{
    ViewBag.Title = Model.ID == 0 ? "Добавление баннера" : "Изменение баннера";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section header 
{
    <script type="text/javascript" src="/Media/scripts/admin/edit-banner.js"></script>
}

<h2>@(Model.ID == 0 ? "Добавление баннера" : "Изменение баннера")</h2>
@using (Html.BeginForm("Edit", "Banner", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.Hidden("ID", Model.ID)
    @Html.Hidden("ImagePath", Model.ImagePath)
    <fieldset>
        <div class="control-group">
            <label class="control-label">
                Путь
            </label>
            <div class="controls">
                @Html.TextBox("Path", Model.Path, new { @class = "input-xlarge" })
                <div class="hint">
                    Должен быть типа <strong>/Forum</strong> или <strong>/Game</strong>
                </div>
            </div>
            @Html.ValidationMessage("Path")
        </div>
        <div class="control-group">
            <label class="control-label">
                Тип
            </label>
            <div class="controls">
                @Html.DropDownList("Type", Model.SelectListType, new { @class = "input-xlarge" })
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">
                Куда ведет (ссылка)
            </label>
            <div class="controls">
                @Html.TextBox("Url", Model.Url, new { @class = "input-xlarge" })
                <div class="hint">
                    Должна быть типа <strong>/Game/1</strong> или <strong>http://mail.ru</strong>
                </div>
            </div>
            @Html.ValidationMessage("Url")
        </div>
        <div class="control-group">
            <label class="control-label">
                Баннер 
            </label>
            <div class="controls">
                <img src="@Model.ImagePath.GetPreviewPath("_banner")" alt="avatar" id="PreviewBanner" />
                <br />
                <div class="btn btn-danger" id="DeleteBanner">
                    удалить
                </div>
                <div class="btn" id="ChangeBanner">
                    загрузить изображение
                </div>

            </div>
            @Html.ValidationMessage("ImagePath")
        </div>

         <div class="control-group">
            <label class="control-label">
            </label>
             <label class="checkbox">
                @Html.CheckBox("IsOn", Model.IsOn) Включен
            </label>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">
                Сохранить</button>
            @Html.ActionLink("Отменить", "Index", null, null, new { @class = "btn" })
        </div>
    </fieldset>
}
