@model turniri.Model.PageableData<turniri.Model.Background>

@{
    ViewBag.Title = "Фоны";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Фоны</h2>

@Html.ActionLink("Создать", "Create", "Background", null, new { @class = "btn" })
<table class="table">
    <thead>
        <tr>
            <th>Путь 
            </th>
            <th>Картинка 
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model.List)
    {
        <tr class="@(item.IsOn ? "" : "off")">
            <td>
                @item.Path
            </td>
            <td>
                <img src="@item.ImagePath.GetPreviewPath("_small")"/>
            </td>
            <td>
                @Html.ActionLink("Изменить", "Edit", "Background", new { id = item.ID }, new { @class = "btn" })
                @Html.ActionLink("Удалить", "Delete", "Background", new { id = item.ID }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }
</table>
<div class="pager">
    @Html.PageLinks(Model.PageNo, Model.CountPage, x => Url.Action(Model.Action, new { page = x }))
</div>
