@model turniri.Models.ViewModels.CameraView
@{
    ViewBag.Title = Model.ID == 0 ? "Добавить камеру" : "Изменить камеру";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h2>@(Model.ID == 0 ? "Добавить камеру" : "Изменить камеру")</h2>
<p></p>

@using (Html.BeginForm("Edit", "Camera", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.Hidden("_ID", Model._ID)
    @Html.Hidden("TournamentID", Model.TournamentID)
    <fieldset>
        <div class="control-group">
            <label class="control-label">
                Матч</label>
            <div class="controls">
                @Html.DropDownList("MatchID", Model.MatchesSelectList)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">
                Наименование</label>
            <div class="controls">
                @Html.TextBox("Name", Model.Name, new { @class = "input-xlarge" })
                @Html.ValidationMessage("Name")
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">
                Код</label>
            <div class="controls">
                @Html.TextArea("Code", Model.Code, new { @class = "input-xxlarge", rows = 5 })
                @Html.ValidationMessage("Code")
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="Enabled">
                Включено</label>
            <div class="controls">
                @Html.CheckBox("Enabled", Model.Enabled)
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">
                Сохранить</button>
            @Html.ActionLink("Отменить", "Index", null, new { id = Model.TournamentID }, new { @class = "btn" })
        </div>
    </fieldset>
}

