@model IEnumerable<turniri.Model.Match>
@if (Model.Any())
{
    <div id="tab_stat_2_content" class="switcher-content" style="display: none">
        <div class="content  scroll-wrapper">
            <div class="scroll-pane">
                <ul class="stat-list">
                    @foreach (var match in Model)
                    {
                        <li>
                            <div class="top-user clear">
                                <div class="title">
                                    @match.Game.Name
                                </div>
                                <div class="result">
                                    Результат
                                </div>
                                <div class="report"  id="Match_@match.ID">
                                    <span>Отчет</span>
                                </div>
                            </div>
                            <div class="user clear">
                                <div class="userpic">
                                    <a href="@Url.Action("Index", "User", new { login = match.Player1.User.Login })">
                                        <img src="@match.Player1.FullImagePath18" alt="userpic" />
                                    </a>
                                    @if (match.Player1.User.IsOnline)
                                    {
                                        <div class="dot"></div>
                                    }
                                </div>
                                <div class="name">
                                    <a href="@Url.Action("Index", "User", new { login = match.Player1.User.Login })" class="user">
                                        @match.Player1.User.Login
                                    </a>
                                </div>
                                <div class="result-value">
                                    &mdash;
                                </div>
                            </div>
                            <div class="user clear">
                                <div class="userpic">
                                    <a href="@Url.Action("Index", "User", new { login = match.Player2.User.Login })">
                                        <img src="@match.Player2.FullImagePath18" alt="userpic" />
                                    </a>
                                    @if (match.Player2.User.IsOnline)
                                    {
                                        <div class="dot"></div>
                                    }
                                </div>
                                <div class="name">
                                    <a href="@Url.Action("Index", "User", new { login = match.Player2.User.Login })" class="user">
                                        @match.Player2.User.Login
                                    </a>
                                </div>
                                <div class="result-value">
                                    &mdash;
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
}