<div class="box-new box">
    <div class="switcher clear">
        <ul>
            <li id="tab_new_1" class="current">Первые шаги</li>
            @* <li id="tab_new_2">Одиночные игры</li>
            <li id="tab_new_3">Турниры</li>*@
        </ul>
    </div>
    <div class="box-wrapper">
        <div id="tab_new_1_content" class="switcher-content">
            <div class="content">
                <div class="top-block">
                    <div class="title">
                        ИНСТРУКЦИИ для новичков:
                    </div>
                    <div class="button-block clear">
                        <div class="gray-28-button-wrapper">
                            <a href="@Url.Action("Index", "Page", new { url = "o-sajte" })">О сайте</a>
                        </div>
                        <div class="gray-28-button-wrapper">
                            <a href="@Url.Action("Index", "Page", new { url = "turniry" })">Турниры</a>
                        </div>
                        <div class="gray-28-button-wrapper">
                            <a href="@Url.Action("Index", "Page", new { url = "matchi" })">Матчи</a>
                        </div>
                        <div class="gray-28-button-wrapper">
                            <a href="@Url.Action("Index", "Page", new { url = "rejtingi" })">Рейтинги</a>
                        </div>
                        <div class="gray-28-button-wrapper">
                            <a href="@Url.Action("Index", "Page", new { url = "spravka" })">Справка</a>
                        </div>
                    </div>
                </div>
                <div class="bottom-block">

                    <div class="index-likes">
                        <div class="fb-like" data-href="http://turniri.ru" data-send="false" data-layout="button_count"
                            data-width="450" data-show-faces="true" data-colorscheme="dark"></div>
                        <div class="twitter-wrp">
                            <a href="https://twitter.com/TURNIRIRU" class="twitter-follow-button" data-show-count="false">
                                Follow @@TURNIRIRU</a>
                            <script type="text/javascript">
                                !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");
                            </script>
                        </div>
                        <div class="like-vk">
                            <!-- Put this div tag to the place, where the Like block will be -->
                            <div id="vk_like"></div>
                            <script type="text/javascript">
                                VK.Widgets.Like("vk_like", { type: "button" });
                            </script>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        @*<div id="tab_new_2_content" class="switcher-content" style="display: none">
            <div class="content">
                <div class="top-block">
                    <div class="title">
                        ИНСТРУКЦИИ для новичков 2:
                    </div>
                    <div class="button-block clear">
                        <div class="gray-28-button-wrapper">
                            <a href="/">О сайте</a>
                        </div>
                        <div class="gray-28-button-wrapper">
                            <a href="/">Турниры</a>
                        </div>
                        <div class="gray-28-button-wrapper">
                            <a href="/">Сезоны</a>
                        </div>
                        <div class="gray-28-button-wrapper">
                            <a href="/">Ладдеры</a>
                        </div>
                        <div class="gray-28-button-wrapper">
                            <a href="/">Рейтинги</a>
                        </div>
                        <div class="gray-28-button-wrapper">
                            <a href="/">Справка</a>
                        </div>
                    </div>
                </div>
                <div class="bottom-block">
                    <div class="text">
                        Если вам что-либо непонятно, то задайте вопрос на форуме в разделе FAQ. Мы обязательно
                        ответим на все вопросы.
                    </div>
                    <div class="gray-28-button-wrapper">
                        <a href="/">Задать свой вопрос</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="tab_new_3_content" class="switcher-content" style="display: none">
            <div class="content">
                <div class="top-block">
                    <div class="title">
                        ИНСТРУКЦИИ для новичков 3:
                    </div>
                    <div class="button-block clear">
                        <div class="gray-28-button-wrapper">
                            <a href="/">О сайте</a>
                        </div>
                        <div class="gray-28-button-wrapper">
                            <a href="/">Турниры</a>
                        </div>
                        <div class="gray-28-button-wrapper">
                            <a href="/">Сезоны</a>
                        </div>
                        <div class="gray-28-button-wrapper">
                            <a href="/">Ладдеры</a>
                        </div>
                        <div class="gray-28-button-wrapper">
                            <a href="/">Рейтинги</a>
                        </div>
                        <div class="gray-28-button-wrapper">
                            <a href="/">Справка</a>
                        </div>
                    </div>
                </div>
                <div class="bottom-block">
                    <div class="text">
                        Если вам что-либо непонятно, то задайте вопрос на форуме в разделе FAQ. Мы обязательно
                        ответим на все вопросы.
                    </div>
                    <div class="gray-28-button-wrapper">
                        <a href="/">Задать свой вопрос</a>
                    </div>
                </div>
            </div>
        </div>*@
    </div>
    <div class="lable lable-new sprite">
    </div>


</div>
