@model turniri.Model.User
@{
    var page = (int)ViewBag.Page;
    var currentUser = ((turniri.Controllers.BaseController)ViewContext.Controller).CurrentUser;
}
@if (Model.PassiveFriendshipsAny)
{
    <div class="friend-list">
        <ul class="clear">
            @{
    var i = 0;
            }
            @foreach (var item in Model.PassiveFriendshipsPage(page))
            {
                if (i % 2 == 0)
                {
                @Html.Raw("<li class=\"first clear\">")
                }
                <div class="friend-item clear" id="Friendship_@item.ID">
                    <div class="preview-image">
                        <a href="@Url.Action("Index", "User", new { login = item.Sender.Login })">
                            <img src="@item.Sender.FullAvatarPath84" alt="preview" />
                        </a>
                        @if (item.Sender.IsOnline)
                        {
                            <div class="online"></div>
                        }
                    </div>
                    <div class="user-info">
                        <div class="top-info">
                            <div class="name">
                                <a href="@Url.Action("Index", "User", new { login = item.Sender.Login })" class="user">
                                    @item.Sender.Login
                                </a>
                            </div>
                            @if (item.Sender.IsOnline)
                            {
                                <div class="status">online</div>
                            }
                            else
                            {
                                <div class="status offline">offline</div>
                            }
                        </div>
                        <div class="bottom-info">
                            <div class="prize-title">
                                Последние награды :
                            </div>
                            @foreach (var award in item.Sender.LastAwards)
                            {
                                <img src="@award.FullIconPath" alt="@award.Name" title="@award.Description" />
                            }
                        </div>
                    </div>
                    <div class="user-buttons">
                        @if (currentUser != null)
                        {
                            <div class="gray-24-button-wrapper write-message">
                                <span>Написать сообщение</span>
                            </div>
                            if (currentUser.MeAskedForFriendship(item.SenderID))
                            {
                            <div class="add-friend">
                                Принять
                            </div>
                            <div class="reject-friend">
                                Отклонить
                            </div>
                        
                            }
                        }
                    </div>
                </div>
                        if (i % 2 == 1)
                        {
                @Html.Raw("</li>")
                        }
                        i++;
            }
            @if (i % 2 == 1)
            {
                @Html.Raw("</li>")
            }
        </ul>
    </div>
    <div class="friends-paging paging light-paging">
        <div class="title">
            Страницы:
        </div>
        <div class="paging-list">
            @Html.PageLinksTurniri(page, Model.PassiveFriendshipsCount(), x => Url.Action("Orders", new { page = x }))
        </div>
    </div>
}
else
{
    <div class="empty">
        Нету входящих заявок в друзья
    </div>
}
