@model turniri.Models.ViewModels.User.ChangePasswordView
<div class="input-block">
    @if (TempData["message"] != null)
    {
        <div class="message">@TempData["message"]</div>
    }
    <div class="input-item clear">
        <div class="lable-name">
            Текущий пароль
        </div>
        <div class="input">
            @Html.Password("Password", Model.Password)
        </div>
        @Html.ValidationMessage("Password")
    </div>
    <div class="input-item clear">
        <div class="lable-name">
            Новый пароль
        </div>
        <div class="input">
            @Html.Password("NewPassword", Model.NewPassword)
        </div>
        @Html.ValidationMessage("NewPassword")
    </div>
    <div class="input-item clear">
        <div class="lable-name">
            Новый пароль еще раз
        </div>
        <div class="input">
            @Html.Password("ConfirmPassword", Model.ConfirmPassword)
        </div>
        @Html.ValidationMessage("ConfirmPassword")
    </div>
    <div class="form-button">
        <input class="gray-24-submit" type="submit" value="ИЗМЕНИТЬ" id="changePasswordButton" />
    </div>
</div>
