@model IEnumerable<turniri.Model.Game>
@{
    var currentUser = ((turniri.Controllers.BaseController)ViewContext.Controller).CurrentUser;
}
@foreach (var game in Model)
{
    if (!currentUser.HasGame(game.ID))
    {
    <div class="gallery-item" id="Game_@game.ID">
        <div class="preview-image">
            <img src="@game.ImagePath144v" alt="preview" />
        </div>
        <div class="content">
            <div class="title">
                @game.Name.Teaser(13, "...")
            </div>
            <div class="game-platform">
                @game.Platform.Name
            </div>
            <div class="text">
                Уровень: @currentUser.Level(game.ID)
                <br />
                Побед: @currentUser.CountWins(game.ID)
                <br />
                Поражений: @currentUser.CountLoses(game.ID)<br />
            </div>
            <div class="gray-16-button-wrapper lets_play">
                <span>добавить
                </span>
            </div>
        </div>
    </div>
    }
}
