@model turniri.Models.ViewModels.ProductCodeView

@using (Html.BeginForm("AddCode", "Product", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <fieldset>
        <legend>Добавить код</legend>
        @Html.Hidden("ID", Model.ID)
        @Html.Hidden("ProductID", Model.ProductID)
        @Html.Hidden("Image", Model.Image)
        <div class="control-group">
            <label class="control-label">
                Цена</label>
            <div class="controls">
                @Html.DropDownList("ProductPriceID", Model.SelectListProductPriceID, new { @class = "input-xlarge" })
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">
                Код</label>
            <div class="controls">
                @Html.TextBox("Code", Model.Code, new { @class = "input-xlarge" })
                @Html.ValidationMessage("Code")
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">
                Картинка</label>
            <div class="controls">
                <img src="@Model.FullImage" alt="avatar" id="PreviewImage" width="300" />
                <br />
                <div class="btn btn-danger" id="DeletePreview">
                    удалить
                </div>
                <div class="btn" id="ChangePreview">
                    загрузить фото
                </div>
            </div>
            @Html.ValidationMessage("ImagePath")
        </div>
        @if (Model.ProductVariations.Any())
        {
            <ul class="thumbnails">
                <li class="span2">
                    <label>
                        <div class="thumbnail normalsize">
                            <img src="@(Model.Product.Image)?width=200&height=200&mode=crop" />
                            @Html.RadioButton("ProductVariationID", "", !Model.ProductVariationID.HasValue)
                        </div>
                    </label>
                </li>
                @foreach (var productVariation in Model.ProductVariations)
                {
                    <li class="span2">
                        <label>
                            <div class="thumbnail normalsize">
                                <img src="@(productVariation.Image)?width=200&height=200&mode=crop" />
                                @Html.RadioButton("ProductVariationID", productVariation.ID, Model.ProductVariationID == productVariation.ID)
                            </div>
                        </label>
                    </li>
                }
            </ul>
        }
        <div class="form-actions">
            <button type="submit" class="btn btn-primary" id="AddCodeBtn">
                @(Model.ID == 0 ? "Добавить" : "Изменить")</button>
        </div>
    </fieldset>
}